{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}

<article>

  <div class="relative">
    <div class="flex shadow-lg -mt-12 bg-white dark:bg-gray-800  place-items-center rounded-md justify-between  mx-[200px]">
      <div class="flex place-items-center">

         <img class="w-40 -ml-2" src="{{ file_url(node.field_company_logo.entity.uri.value) }}">

        <div class="p-5 text-black dark:text-white  text-xl font-bold" >
          {{ content.field_company }}
        </div>
      </div>
      <div class="relative p-5">
        <button class="bg-violet-600 hover:bg-light_grey-200 text-white py-2 px-4 rounded">Company Site</button>
      </div>
    </div>


    <div class="relative  shadow-lg bg-white dark:bg-gray-800 rounded-md mx-[200px] mt-20">
      <div class="flex text-sm text-slate-500 pt-10 pl-10 pr-10">
        {{ content.field_activity }}&nbsp
        {{ content.field_job_type }}
      </div>
      <div class="flex justify-between pl-10 pr-10">
        <div class="text-3xl font-bold dark:text-white text-very_dark">
          {{ content.field_job_title }}
        </div>
        <button class="bg-violet-500 hover:bg-light_violet text-white py-2 px-4 rounded">Apply Now</button>
      </div>
      <div class="leading-relaxed text-violet-500 font-bold pl-10 ">
        {{ content.field_country }}
      </div>
      <div class="text-slate-500 pt-14 pl-10 pr-8">
        {{ content.field_about}}
      </div>
      <div class="text-2xl text-very_dark dark:text-white font-bold pt-14 pl-10 pr-8">
        <h1>Requirements</h1>
      </div>
      <div class="text-slate-500 pt-14 pl-10 pr-8">
        {{ content.field_requirements }}
        <div class="pl-5">
          <ul class="list-disc">
            <li class="p-3 leading-relaxed text-violet font-bold"><div class="text-slate-500 font-normal">Morbi interdum mollis sapien. Sed</div></li>
            <li class="p-3 leading-relaxed text-violet font-bold"><div class="text-slate-500 font-normal">Phasellus lacinia magna a ullamcorper laoreet, lectus arcu pulvinar risus</div></li>
            <li class="p-3 leading-relaxed text-violet font-bold"><div class="text-slate-500 font-normal">Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus.</div></li>
            <li class="p-3 leading-relaxed text-violet font-bold"><div class="text-slate-500 font-normal">Morbi interdum mollis sapien. Sed</div></li>
          </ul>
        </div>
      </div>
      <div class="text-2xl text-very_dark dark:text-white font-bold pt-14 pl-10 pr-8">
        <h1>What You Will Do</h1>
      </div>
      <div class="text-slate-500 pt-14 pl-10 pr-8">
        {{ content.field_todo }}
        <div class="pl-5">
          <ul class="list-decimal">
            <li class="p-3 leading-relaxed text-violet font-bold"><div class="text-slate-500 font-normal">Morbi interdum mollis sapien. Sed</div></li>
            <li class="p-3 leading-relaxed text-violet font-bold"><div class="text-slate-500 font-normal">Phasellus lacinia magna a ullamcorper laoreet, lectus arcu pulvinar risus</div></li>
            <li class="p-3 leading-relaxed text-violet font-bold"><div class="text-slate-500 font-normal">Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus.</div></li>
            <li class="p-3 leading-relaxed text-violet font-bold"><div class="text-slate-500 font-normal">Morbi interdum mollis sapien. Sed</div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>


